src/main/resources/schema/message.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

<xs:annotation>
	<xs:appinfo></xs:appinfo>
	<xs:documentation xml:lang="en">
	this is a comment.
	</xs:documentation>
</xs:annotation>

	<xs:element name="message">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="messageId" type="xs:string"/>
				<xs:element name="deviceId" type="xs:string"/>
				<xs:element name="cardId" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

</xs:schema>
